.layered_filter_cont
{
	background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
}

.layered_filter_cont div.layered_filter_heading
{
	padding: 10px;
}
.layered_filter_cont div.layered_filter_heading div.lf_headingmain_wrapper span
{
	color: #333;
    font-size: 16px;
    font-weight: 400;
    display: block;
}

.layered_filter_cont div.layered_filter_heading span.clear_filter
{
	cursor: pointer;
	color: #a9a9a9 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    text-decoration: underline;
}

.lf_sub_cont
{
	padding: 10px;
	max-height: 200px;
    overflow-y: auto;
    padding: 0 10px 10px;
}

.layered_filt
{
	margin-bottom: 5px;
}

.ratting_img_style
{
    height: 14px;
    width: 92px;
    transform: translate(0px, 6px);
}
.ratting_5
{
    background-position: 0 0;
}
.ratting_4
{
	background-position: 0 -28px;
}
.ratting_3
{
	background-position: 0 -54px;
}
.ratting_2
{
	background-position: 0 -81px;
}
.ratting_1
{
	background-position: 0 -108px;
}
.ratting_0
{
	background-position: 0 -135px;
}

.filters_name, .price_filter_subcont span
{
	font-size: 16px;
	color: #555555;
	font-weight: 400;
}

.layered_filt div.checker
{
	display: inline-block;
}

.layered_filt span.filters_name, .layered_filt span.ratting_img_style
{
	display: inline-block;
}

#filter_price_silder
{
	margin-top: 15px;
}

#filter_price_silder .ui-slider-range
{
	background-color: #379BF0;
    background-image: none;
}

#filter_price_silder .ui-slider-handle
{
	background-color: #FFFFFF;
    background-image: none;
    border-color: #bebbbb;
    border-radius: 50%;
    outline: none;
}

#filter_price_silder.ui-widget-content {
	border: none;
}