.margin-lr-0
{
    margin-left: 0px;
    margin-right: 0px;
}


.cat_cont
{
    margin: 0px;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin-top-7
{
    margin-top: 7px;
}

.catSortBlock {
    margin-bottom: 15px; }
    .catSortBlock .filter_dw_cont {
        position: relative; }
        .catSortBlock .filter_dw_cont .dropdown-menu {
            left: 0;
        }

.sortBlockHeading
{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    text-align: left;
}

.disp_type_cont
{
    text-align: center;
    margin-top: 10px;
}

.filter_dw_cont button
{
    width: 100%;
    text-align: left;
}

.display_type
{
    background-position: 25px 170px;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.room_cont
{
    border-top: 1px solid #E6E6E6;
    padding-top: 30px;
    margin-bottom: 30px;
}

.room-type-image {
    margin-bottom: 15px;
}

.rm_heading
{
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 10px;
}

.rm_desc
{
    line-height: 22px;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.rm_desc p
{
    display: inline;
}

.rm_desc a
{
    text-decoration: none;
    color: #379BF0;

}

.capa_txt
{
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
p.capa_txt {
    margin-bottom: 15px;
}
.visible-md .capa_txt {
    padding-left: 15px;
}

.rm_review_cont
{
    margin-bottom: 15px;
}

.rm_ratting_yes
{
    background-position: -2px 18px;
    display: inline-block;
    height: 18px;
    width: 24px;
}

.rm_ratting_no
{
    background-position: 26px 18px;
    display: inline-block;
    height: 18px;
    width: 24px;
}

.rm_review
{
    margin-left: 10px;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
}

.rm_amenities_cont
{
    margin-bottom: 15px;
}

.rm_left
{
    color: #e85757;
    font-size: 16px;
    font-weight: 400;
}

.rm_amen
{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}

.rm_price_val
{
    clear: both;
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
}

.rm_price_txt
{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    padding-top: 6px;
}

.rm_price_cont
{
    margin-bottom: 15px;
}
@media (min-width: 992px) {
    .rm_left {
        text-align: right;
    }

    .rm_price_cont
    {
        text-align: right;
    }
    .rm_qty_cont {
        margin-bottom: 0;
    }
}

.qty_txt
{
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: 400;
    transform: translate(0px, 15px);
}
.qty_sec_cont
{
    width: 80px;
    margin: 0px 0px 0px 5px;
    float: left;
}

.qty_input_cont
{
    width: 57px;
    float: left;
}
.qty_input_cont input
{
    color: #3c3c3c;
    font-size: 20px;
    height: 57px;
    padding: 1px 10px;
}

.qty_direction
{
    width: 22px;
    float: left;
}

/* .qty_direction a
{
    margin-bottom: 2.8px;
    margin-top: 3px;
    margin-left: 2px;
    padding: 1px 4px;
} */

.booking_guest_occupancy.form-control {
    background-color: transparent!important;
    border: 1px solid #999999;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.13);
    height: 46px;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
}
.booking_guest_occupancy_conatiner {
    display: flex;
}
@media (min-width: 992px) {
    .booking_guest_occupancy_conatiner .booking_occupancy_wrapper {
        left: unset;
    }
    .room_features_cont > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 10px 0;
    }
    .booking_room_fields {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: end;
        gap: 15px 10px;
    }

    .booking_guest_occupancy_conatiner  {
        display: inline-block;
    }
    .booking_guest_occupancy_conatiner .form-group {
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    .booking_guest_occupancy_conatiner .form-group {
        margin-bottom: 0;
    }
}

.display-inline
{
    display: inline-block;
}
/* quantity_wanted */
#cat_rm_quantity_wanted input {
  width: 78px;
  height: 27px;
  padding: 0 6px;
  float: left;
  border: 1px solid #d6d4d4;
  line-height: 27px; }
/*#quantity_wanted_p .btn {
  float: left;
  margin-left: 3px; }*/
  #cat_rm_quantity_wanted .button-minus {
  float: left;
  margin-right: 5px;
  padding-top: 3px;}
  #cat_rm_quantity_wanted .button-plus {
  float: left;
  margin-left: 5px;
  padding-top: 3px;}
.noRoomsAvailAlert
{
    margin-bottom: 20px;
    background-color: #ffa0a0;
    border: 1px solid #cccccc;
    color: #9f1010;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 5px;
    text-align: center;
}

.room_type_old_price {
  text-decoration: line-through;
  color:#e85757;
  font-size:18px;
}