.margin-lr-0
{
    margin-left: 0px;
    margin-right: 0px; 
}


.cat_cont
{
    margin: 0px;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin-top-7
{
    margin-top: 7px;
}

.catSortBlock {
    margin-bottom: 15px; }
    .catSortBlock .filter_dw_cont {
        position: relative; }
        .catSortBlock .filter_dw_cont .dropdown-menu {
            left: 0;
        }

.sortBlockHeading
{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    text-align: left;
}

.disp_type_cont
{
    text-align: center;
    margin-top: 10px;
}

.filter_dw_cont button
{
    width: 100%;
    text-align: left;
}

.display_type
{
    background-position: 25px 170px;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.room_cont
{
    border-top: 1px solid #E6E6E6;
    padding-top: 30px;
    margin-bottom: 30px;
}
.room_cont .btn.btn-default.button.button-medium {
    transform: translate(0px, 6px);
}

.rm_heading
{
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.rm_desc
{
    line-height: 22px;
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.rm_desc p
{
    display: inline;
}

.rm_desc a
{
    text-decoration: none;
    color: #379BF0;
    
}

.capa_txt
{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.capa_data
{
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.rm_review_cont
{
    margin-bottom: 15px;
}

.rm_ratting_yes
{
    background-position: -2px 18px;
    display: inline-block;
    height: 18px;
    width: 24px;
}

.rm_ratting_no
{
    background-position: 26px 18px;
    display: inline-block;
    height: 18px;
    width: 24px;
}

.rm_review
{
    margin-left: 10px;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
}

.rm_amenities_cont
{
    background-color: white;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-bottom: 15px;
    padding: 10px;
    clear: both;
}

.rm_left
{
    color: #e85757;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
}

.rm_amen
{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}

.rm_price_val
{
    clear: both;
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
}

.rm_price_txt
{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    padding-top: 6px;
}

.rm_price_cont
{
    clear: both;
    margin-top: 10px; 
}
.rm_qty_cont
{
    width: 120px;
    margin-right: 15px;
}
.qty_txt
{
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: 400;
    transform: translate(0px, 15px);
}
.qty_sec_cont
{
    width: 80px;
    margin: 0px 0px 0px 5px;
    float: left;
}

.qty_input_cont
{
    width: 57px;
    float: left;
}
.qty_input_cont input
{
    color: #3c3c3c;
    font-size: 20px;
    height: 57px;
    padding: 1px 10px;
}

.qty_direction
{
    width: 22px;
    float: left;
}

.qty_direction a
{
    margin-bottom: 2.8px;
    margin-top: 3px;
    margin-left: 2px;
    padding: 1px 4px;
}

.display-inline
{
    display: inline-block;
}
/* quantity_wanted */
#cat_rm_quantity_wanted input {
  width: 78px;
  height: 27px;
  padding: 0 6px;
  float: left;
  border: 1px solid #d6d4d4;
  line-height: 27px; }
/*#quantity_wanted_p .btn {
  float: left;
  margin-left: 3px; }*/
  #cat_rm_quantity_wanted .button-minus {
  float: left;
  margin-right: 5px;
  padding-top: 3px;}
  #cat_rm_quantity_wanted .button-plus {
  float: left;
  margin-left: 5px;
  padding-top: 3px;}
.noRoomsAvailAlert
{
    margin-bottom: 20px;
    background-color: #ffa0a0;
    border: 1px solid #cccccc;
    color: #9f1010;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 5px;
    text-align: center;
}