.margin-top-50 {
  margin-top: 50px;
}
.contact-header {
  font-size: 45px;
  color: #252525;
  font-weight: 400;
  margin-bottom: 20px;
}
.contact-desc {
  font-size: 15px;
  color: #252525;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 25px;
}
.contact-subdiv p {
  font-size: 15px;
  color: #404040;
  font-weight: 400;
}
.contact-subdiv p i {
  color: #379bf0;
}
.cont_icon_map {
  font-size: 22px;
  margin-right: 15px;
}
.cont_icon_phone {
  font-size: 25px;
  margin-right: 17px;
}
.cont_icon_enve {
  font-size: 15px;
  margin-right: 14px;
}
.contact_input {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 600;
  height: 47px;
  margin-bottom: 20px;
  padding: 10px;
}
.contact_textarea {
  color: #9a9a9a;
  height: 150px !important;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}
.contact_btn {
  padding: 0 20px;
}
.contact_btn:hover, .contact_btn:focus, .contact_btn:active {
  color: #ffffff;
}
.service_type_ul {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 122222;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  max-height: 145px;
  overflow-y: auto;
}
.service_type_ul li, .hotel_dropdown_ul li {
  background-color: #fff;
  color: #9a9a9a;
  cursor: default;
  font-size: 14px;
  list-style: outside none none;
  padding: 11px;
}
.service_type_ul li:hover, .service_type_ul li:focus, .service_type_ul li:active {
  background-color: #379bf0;
  color: #FFFFFF;
}

.service_type-input {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  padding: 7px 5px 7px 12px;
}

#id_contact {
    color: #999999;
    font-weight: bold;
    text-align: left;
    width: 90%;
}









#contact_type {
  width: 90%;
  text-align: left;
  color: #9a9a9a;
  font-weight: 600;
  opacity: 0.6;
}

.contact_type_input {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  padding: 7px 5px 7px 12px;
}
.contact_type_input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}
.contact_type_input:-moz-placeholder {

  /* Firefox 18- */
  color: #999999;
  font-weight: 400;
}
.contact_type_input::-moz-placeholder {

  /* Firefox 19+ */
  color: #999999;
  font-weight: 400;
}
.contact_type_input:-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.contact_type_ul {
  font-size: 14px;
  font-weight: 400;
  top: 45px;
  padding: 0px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  max-height: 145px;
  overflow-y: auto;
}
.contact_type_ul li {
  background-color: #fff;
  color: #9a9a9a;
  cursor: default;
  font-size: 14px;
  list-style: outside none none;
  padding: 11px;
}
.contact_type_ul li:hover, .contact_type_ul li:focus, .contact_type_ul li:active {
  background-color: #379bf0;
  color: #FFFFFF;
}

span.action {
  background:#379bf0!important;
}

/* ==== google map ==== */
#googleMapWrapper {
  clear: both;
  float: left;
  height: 500px;
}
#map {
  width: 100%;
  height: 100%;
}