/************************************************************
				History Page Styles
************************************************************/
#order-detail-content table .return_quantity_buttons {
  margin-top: 3px; }
  #order-detail-content table .return_quantity_buttons a {
    display: none;
    float: left; }
    #order-detail-content table .return_quantity_buttons a + a {
      margin-left: 3px; }
#order-detail-content table .order_qte_input {
  display: none;
  width: 57px;
  height: 27px;
  line-height: 27px;
  padding: 0;
  text-align: center; }
#order-detail-content table label {
  font-weight: 400; }
.wk_booking_details_wrapper table {
  margin-bottom: 10px!important;}

.table td.history_detail a + a {
  margin-left: 14px; }
.table td.step-by-step-date {
  width: 105px; }
.table tfoot strong {
  color: #333; }

.info-order i {
  font-size: 20px; }
  .info-order i.icon-gift {
    color: #f13340; }
  .info-order i.icon-repeat {
    color: #55c65e; }

#sendOrderMessage {
  margin-bottom: 30px; }
  #sendOrderMessage select.form-control {
    width: 263px; }

/*# sourceMappingURL=history.css.map */

/* ----- Order cancellation in order detail page ---- */
.standard_refund_fields {
  display: none;}

.loading_overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;}
.loading-img {
  position: absolute;
  left: 50%;
  top: 50%;}


.refund_reason_head {
  margin-bottom: 15px;
  font-size: 22px;
  color: #414141;}
#reasonForRefund {
  font-size: 14px;
  color: #777777;}
.booking-actions-wrap {
  margin-bottom: 10px;}
.booking-actions-wrap .btn {
  font-size: 14px;
  padding: 12px 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;}
.terms_btn {
  background-color: #404040;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;}
.totalOrdercancellation_btn {
  background-color: #379bf0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  margin-right: 10px;}
.reason_submit_wrapper {
  text-align: center;}

/* ----- Order cancellation in order detail page ---- */
.back_o_msg {
  color: red;
  font-size: 14px;}
.cust_serv_lnk {
  text-decoration: underline;}

.room_type_old_price {
  text-decoration: line-through;
  color:#979797;
  font-size:12px;}

/* Fancy-box for extra demands Css */
#rooms_extra_demands {
  font-size: 16px;}
.room_extra_demands .open_rooms_extra_demands {
  font-size:12px;
	font-weight: 600;
  color: #0000FF;}
#rooms_extra_demands .demand_header {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  margin-bottom: 15px;}
#rooms_extra_demands .demand_detail .demand_detail_price_block {
  font-size: 14px;
  margin-bottom: 15px;}
#rooms_extra_demands .rooms_extra_demands_head {
  margin-bottom: 18px;}
#rooms_extra_demands .card {
  padding-bottom: 0px;}

.cancel_requests_link_wrapper a {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #000;}
/* refund buttons */
  #history .checkbox {
    margin-bottom: 15px;
    line-height: 12px;}
  #history .booking_refund_fields label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-left: 6px;}
  #history .refund_policy_link {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;}
  #history #order_refund_request {
    background-color: #1292FF;
    border: 1px solid #1292FF;
    color: #FFF;}
    @media screen and (max-width: 405px) {
      #history #order_refund_request {
      margin-bottom: 5px;}}

    #history  .cancel_request_btn {
      background-color: #FF4B4B!important;
      border: 1px solid #FF4B4B!important;}
  #history #order_refund_request_submit {
    background-color: #36BA46;
    border: 1px solid #36BA46;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 30px;}
  #history #submit_refund_reason {
    background-color: #1292FF;
    border: 1px solid #1292FF;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 30px;}

  .refund_request_fields {
      display: none;}

/* fancybox changes */
/* fancybox changes */
#history .fancybox-overlay {
	background: rgba(255, 255, 255, 0.95)!important;}
#history .fancybox-skin {
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
  border-radius: 2px;}
#history .fancybox-skin .fancybox-close:after {
  content: "";}
#history .fancybox-skin .fancybox-close {
  top: -36px;
  right: -36px;
  background-image: url(../img/icon/icon-close.svg);}