.htl-reservation-form-input
{
	height: 45px;
	font-size: 14px;
    font-weight: 600;
}

.htl-reservation-form-label
{
	font-size: 16px;
	font-family: inherit;
	font-weight: 700;
	color: #3C3C3C;
}

.htl-reservation-form-btn-default
{
	font-size: 18px;
	font-family: inherit;
	font-weight: 700;
	color: #ffffff;
	background-color: #BF9958;
	padding-bottom: 10px;
    padding-top: 10px;
}

.htl-reservation-form-btn-small
{
	font-size: 15px;
	font-family: inherit;
	font-weight: 700;
	color: #ffffff;
	background-color: #BF9958;
}

.htl-reservation-page-sub-heading
{
	font-size: 18px;
	font-family: inherit;
	font-weight: 700;
	color: #3C3C3C;
}

.htl-reservation-page-content
{
	font-size: 16px;
	font-family: inherit;
	font-weight: 400;
	color: #3C3C3C;
}

.htl-reservation-page-heading
{
	font-size: 20px;
	font-family: inherit;
	font-weight: 700;
	color: #3C3C3C;
}