
# Editors, tools and OS's

.buildpath
/.htaccess
.project
.settings
.idea
.svn
.DS_Store
.sass-cache
config.codekit
*.sublime-project
*.sublime-workspace
nbproject
bower_components
composer.lock

# Cache, temp and personal files

/cache/**
!/cache/cacert.pem
!/cache/index.php

!/cache/cachefs/
!/cache/cachefs/index.php

!/cache/purifier/
!/cache/purifier/index.php

!/cache/push/
!/cache/push/activity
!/cache/push/index.php
!/cache/push/trends

!/cache/sandbox/
!/cache/sandbox/index.php
!/cache/smarty/

!/cache/smarty/cache/
!/cache/smarty/cache/index.php
!/cache/smarty/compile/
!/cache/smarty/compile/index.php
!/cache/smarty/index.php

!/cache/tcpdf/
!/cache/tcpdf/index.php


/download/*
!/download/.htaccess
!/download/index.php

img/**
!/img/404.gif
!/img/admin/
!/img/admin/*.gif
!/img/admin/*.png
!/img/admin/*.jpg
!/img/admin/index.php
!/img/bg_500.png
!/img/bg_loader.png
!/img/c/
!/img/c/index.php
!/img/cms/
!/img/cms/.htaccess
!/img/cms/cms-img.jpg
!/img/cms/index.php
!/img/co/
!/img/co/index.php
!/img/favicon.ico
!/img/genders/
!/img/genders/Unknown.jpg
!/img/genders/index.php
!/img/hotel_header_image.jpg
!/img/index.php
!/img/jquery-ui/
!/img/jquery-ui/*.png
!/img/jquery-ui/index.php
!/img/l/
!/img/l/index.php
!/img/l/none.jpg
!/img/loader.gif
!/img/loadingAnimation.gif
!/img/logo.jpg
!/img/logo_invoice.jpg
!/img/logo_mail.jpg
!/img/logo_stores.gif
!/img/logo_stores.png
!/img/m/
!/img/m/index.php
!/img/macFFBgHack.png
!/img/os/
!/img/os/index.php
!/img/p/
!/img/p/index.php
!/img/prestashop-avatar.png
!/img/qloapps@2x.png
!/img/qloapps-login@2x.png
!/img/qloapps-login-wink@2x.png
!/img/questionmark.png
!/img/rf/
!/img/rf/index.php
!/img/s/
!/img/s/index.php
!/img/scenes/
!/img/scenes/index.php
!/img/scenes/thumbs/
!/img/scenes/thumbs/index.php
!/img/st/
!/img/st/index.php
!/img/su/
!/img/su/index.php
!/img/t/
!/img/t/*.gif
!/img/t/index.php
!/img/tmp/
!/img/tmp/index.php

/log/*
!/log/.htaccess
!/log/index.php

/upload/*
!/upload/.htaccess
!/upload/index.php

/admin/backups/*
!/admin/backups/.htaccess
!/admin/backups/index.php

/admin/import/*
!/admin/import/.htaccess
!/admin/import/index.php

/themes/*/cache/*
!/themes/*/cache/index.php

/admin/themes/*/cache/*
!/admin/themes/*/cache/index.php

# Config

/config/settings.inc.php
/config/settings.old.php

/config/xml/**
!/config/xml/.htaccess
!/config/xml/index.php
!/config/xml/qlo_mod_list.xml
!config/xml/themes/
!config/xml/themes/default.xml
!config/xml/themes/index.php

# Themes, modules and overrides

# modules/*
/modules/*/config.xml
/modules/*/translations/*

/override/*
!/override/.htaccess
!/override/index.php
!/override/readme_override.txt

!/override/classes/
!/override/classes/index.php
!/override/classes/cache/
!/override/classes/cache/index.php
!/override/classes/controller/
!/override/classes/controller/index.php
!/override/classes/db/
!/override/classes/db/index.php
!/override/classes/exception/
!/override/classes/exception/index.php
!/override/classes/helper/
!/override/classes/helper/index.php
!/override/classes/log/
!/override/classes/log/index.php
!/override/classes/module/
!/override/classes/module/index.php
!/override/classes/order/
!/override/classes/order/index.php
!/override/classes/pdf/
!/override/classes/pdf/index.php
!/override/classes/range/
!/override/classes/range/index.php
!/override/classes/shop/
!/override/classes/shop/index.php
!/override/classes/stock/
!/override/classes/stock/index.php
!/override/classes/tax/
!/override/classes/tax/index.php
!/override/classes/tree/
!/override/classes/tree/index.php
!/override/classes/webservice/
!/override/classes/webservice/index.php

!/override/controllers/
!/override/controllers/index.php
!/override/controllers/admin/
!/override/controllers/admin/index.php
!/override/controllers/admin/templates/
!/override/controllers/admin/templates/index.php
!/override/controllers/front

!/override/modules/
!/override/modules/index.php


admin/themes/default/sass/ie.sass
admin/themes/default/sass/print.sass
admin/themes/default/sass/screen.sass

admin/themes/default/css/ie.css
admin/themes/default/css/print.css
admin/themes/default/css/screen.css

# Translations and emails templates

/translations/**
!/translations/index.php
!/translations/en.gzip

!/translations/export/
!/translations/export/index.php

/mails/*
!/mails/.htaccess
!/mails/index.php
!/mails/en/

/themes/hotel-reservation-theme/cache/*
!/themes/hotel-reservation-theme/cache/
!/themes/hotel-reservation-theme/cache/index.php

/themes/hotel-reservation-theme/lang/*
!/themes/hotel-reservation-theme/lang/index.php
!/themes/hotel-reservation-theme/lang/en.php

/themes/hotel-reservation-theme/modules/*/translations/*.php
!/themes/hotel-reservation-theme/modules/*/translations/index.php

/themes/hotel-reservation-theme/mails/*
!/themes/hotel-reservation-theme/mails/index.php
!/themes/hotel-reservation-theme/mails/en/

/themes/hotel-reservation-theme/modules/*/mails/*
!/themes/hotel-reservation-theme/modules/*/mails/index.php
!/themes/hotel-reservation-theme/modules/*/mails/en

# MISC

**sitemap.xml
robots.txt