.copyright_block
{
	background-color: #4b4a4a;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.footer_links
{
    /*padding-left: 45px;*/
    padding: 0px 20px;
}

.footer_links span
{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.footer_links span:hover, .footer_links span:focus, .footer_links span:active
{
    color: #bf9958;
}

.footer_links_block
{
	margin-bottom: 30px;
	text-align: center;
}

.footer_links_block p 
{
    margin-bottom: 15px;
}

.footer_logo_block img
{
	margin: 0 auto;
}

.footer_logo_block
{
	margin-bottom: 15px;
}

.wk-bottom-footer
{
	position: absolute;
	bottom: -55px;
	left: 0;
}

.webkul_link_footer
{
	color: #bf9958!important;
	font-size:16px;
	font-family: 'PT Serif', serif;
	font-weight:700;
}

#footer_block
{
	margin-top: 20px;
}

#footer_block::after {
    border-bottom: 31px solid #252525;
    border-left: 61px solid transparent;
    border-right: 61px solid transparent;
    content: "";
    display: inline-block;
    left: 50%;
    margin-left: -70px;
    position: absolute;
    top: -40px;
    z-index: 100;
    cursor: pointer;
}
#footer_block
{
    position: relative;
}
