/*----- Hotel Images -----*/
a.deleteHtlImage {
	cursor: pointer;
	color: inherit;
}
.deleteHtlImage i {
	font-size: 20px;
}
.dlt-link-div {
    width: 100%;
    float: right;
    padding: 7px;
}
.img-container {
	margin-bottom:20px;
    border: 1px solid #ddd;
    padding: 10px;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    border: 1px solid #CCCCCC;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    background-color:#EEEEEE;
    transition:all linear 0.15s;
    border-bottom: 1px solid #CCCCCC!important;
    color:#252525 !important;
    text-decoration:none !important;
    font-family: Open Sans;
    font-size: 15px;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#f7f7f7;
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}

.modal-header
{
	padding: 0 0 0 20px !important;
}

.add_chld_ftr_div
{
	background-color: #bbb;
	border-radius: 3px;
	line-height: 22px;
	margin-bottom: 5px;
}

.edit_chld_ftr_div
{
	background-color: #bbb;
	border-radius: 3px;
	line-height: 22px;
	margin-bottom: 5px;
}

.remove-chld-ftr
{
	color: #555;
}

.ed-remove-chld-ftr
{
	color: #555!important;
}


.feature_div
{
	border: 1px solid #CCCCCC;
	margin-top: 30px;
	border-radius: 5px;
}

.feature-border-div
{
	margin: 0px!important;
	font-size: 16px; 
	font-weight: bold;
}

.feature-header-div
{
	border-bottom: 1px solid #CCCCCC;
}

.dlt-feature
{
	margin-right: 5px;
	bottom: 7px;
}

.edit_feature
{
	bottom: 7px;
}

.child-features-container
{
	padding-left: 20px;
}

/*CSS For ADDHotel */
.htlChildDivClass
{
    margin-top: 5px;
}


/* ---- Book Now (Booking) ---- */
.margin-lr-0
{
    margin-left: 0px;
    margin-right: 0px;
}

.margin-top-20
{
    margin-top: 20px !important;
}
.hotel_date .margin-leftrgt-0
{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.hotel_date .no_border
{
    border: none !important;
}
.hr_style
{
    border-color: #c7d6db !important;
    margin: 10px 0 !important;
}

.padding-top-btm-30
{
    padding-bottom: 30px;
    padding-top: 30px;
}

.bg-green
{
    background-color: #7EC77B;
}

.bg-yellow
{
    background-color: #DCC635;
}

.bg-red
{
    background-color: #CD5D5D;
}

.bg-gray
{
    background-color: #C2C2C2;
}

.htl_date_header
{
    background-color: #2EACCE;
    color: #FFFFFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: -2px;
}

.htl_date_disp
{
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 300;
    font-family: inherit;
    margin-bottom: 0px !important;
    line-height: 60px;
}

.htl_month_disp
{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: inherit;   
    margin-left: 7px !important;
}

.hotel_date .ui-datepicker
{
    border: 1px solid #c7d6db;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}

/*.hotel_date .ui-state-active
{
    border-radius: 50%;
}*/

.hotel_date .ui-datepicker td
{
    padding: 14px!important;
}

.hotel_date .ui-state-default
{
    border: none!important;
    text-align: center!important;
    padding: 10px!important;
}

.hotel_date .ui-datepicker-header
{
    border: medium none;
}

.hotel_date .ui-datepicker-next:hover, .hotel_date .ui-datepicker-next:focus, .hotel_date .ui-datepicker-next:active, .hotel_date .ui-datepicker-prev:hover, .hotel_date .ui-datepicker-prev:focus, .hotel_date .ui-datepicker-prev:active
{
    outline: none;
}

.ui-datepicker-prev span
{
    background-position: -97px 0;
}

.ui-datepicker-next span
{
    background-position: -33px 0;
}

.htl_room_data_cont
{
    border: 1px solid #C7D6DB;
    border-radius: 4px;
    padding: 15px !important;
}

.htl_room_cat_data
{
    border-right: 1px solid #C7D6DB;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.room_cat_header
{
    font-size: 15px;
    color: #252525;
    font-weight: 400;
    text-transform: capitalize;
}

.room_cat_data
{
    line-height: 75px;
    font-size: 75px;
    color: #252525;
    font-weight: 300;
}

.color_indicate
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.indi_label
{
    color: #252525;
    display: block !important;
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
    text-transform: capitalize;
    transform: translate(4px, 6px) !important;
}

.indi_cont
{
    margin: 20px 0px;
}

/*.addtocart-div
{
    position: fixed !important;
    right: 5px;
    width: 32% !important;
    font-size: 13px!important;
}*/

.cart-table-thead
{
    border-bottom: 1px solid #555!important;
    border-top:none!important;
}

.cart-table-thead th
{
    font-weight: bold!important;
}

.addtocart-table td
{
    padding-bottom: 20px!important;
    padding-top: 20px!important;
}
.cart_amt_div
{
    width: 100%;
    font-weight: 600;
    font-size: 13px!important;
}

.margin-div
{
    margin-top: 60px!important;
}

.roomtype
{
    border-bottom: 1px solid #cccccc!important;
    color: #404040!important;
    font-family: open sans!important;
    font-size: 14px!important;
    font-weight: 600!important;
}

#room-status-tabs li
{
    font-size: 14px;
    font-family: open sans;
}

.roomstatus-table
{
    text-align: center!important;
    margin-top: 30px;
}

.roomstatus-table th
{
    font-family: open sans;
    font-size: 13px;
    font-weight: 600;
    color: #404040
}
.roomstatus-table-thead th
{
    font-family: open sans!important;
    font-size: 13px!important;
    font-weight: 600!important;
    color: #404040!important;
}

.calender-main-div .ui-datepicker:before
{
    border: none;
}

.nav_border_btm
{
    border-bottom: 1px solid #ddd !important;
}

.partial_subrow
{
    border-bottom: 1px solid #eaedef;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.cart_table_container
{
    /*border-bottom: 1px solid #cccccc;*/
    /*margin-bottom: 15px;*/
    max-height: 393px;
    min-height: 150px;
    overflow-y: auto;
    /*padding-bottom: 10px;*/
}

.default_available .ui-state-default
{
    background-color: #7ec77b!important;
    color: #ffffff;
    border-radius: 50%;
}

.default_part_available .ui-state-default
{
    background-color: #dcc635!important;
    color: #ffffff;
    border-radius: 50%;
}

.default_unavailable .ui-state-default
{
    background-color: #cd5d5d!important;
    color: #ffffff;
    border-radius: 50%;
}

.ui-datepicker-today
{
    background-color:#008abd;
}

.available .ui-state-default
{
    background-color: #7ec77b !important;
    border-radius: 50%;
    color: #ffffff;
}

.part_available .ui-state-default
{
    background-color: #dcc635 !important;
    border-radius: 50%;
    color: #ffffff;
}

.unavailable .ui-state-default
{
    background-color: #cd5d5d !important;
    border-radius: 50%;
    color: #ffffff;
}

/* -- changes -- */

.box-border
{
    border: 1px solid #CCCCCC;
    padding: 20px 5px;
}
.padding-0
{
	padding: 0px !important;
}
.margin-right-10
{
	margin-right: 10px !important;
}
/* -- changes -- */
/* ---- Book Now (Booking) ---- */

/* ---- Refund Request controller ---- */
.details-div
{
    margin-top: 30px;
}
.cancellation_charge_div
{
    display: none;
}
/* ---- Refund Request controller ---- */

.error_text
{
  color: #AA1F00;
}

/*AdminHotelConfigurationSetting controller*/

#max_global_book_date
{
    width: 30%;
}

.htl_all_setting .btn.btn-default {
    margin: 20px!important;
}

.setting-link-div .btn
{
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.setting-link-div
{
    padding-top: 10px;
}
.setting-title
{
    overflow: hidden;
}
.htl_conf_panel h3
{
    margin: 0px !important;
    height: auto !important;
}

/* ==== Google Map ==== */
 #googleMapContainer {
    height: 500px;
}
#map {
    width: 100%;
    height: 100%;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
} 


/* ==== AdminHotelFeaturePricesSettingsController ==== */
.week_days {
    display: none;
}
.room_type_search_results_ul {
    padding: 0px;
    background: #ffffff none repeat scroll 0 0;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 122222;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    max-height: 145px;
    overflow-y: auto;
}
.room_type_search_results_ul li {
    width: 100%;
    background-color: #fff;
    color: #333333;
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    list-style: outside none none;
    padding: 7px;
}
.room_type_search_results_ul li:hover, .room_type_search_results_ul li:focus, .room_type_search_results_ul li:active {
    background-color: #379bf0;
    color: #FFFFFF;
}