.header-rmsearch-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-rmsearch-hide-xs {
  background-image: url("../img/Slices/black-opacity-5.png");
}
.header-rmsearch-show-xs {
  background-color: #ffffff;
  top: 0;
}
.header-rmsearch-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.header-rmsearch-primary {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.header-rmsearch-inner-wrapper {
  margin-top: 30px;
  margin-bottom: 15px;
}
.header-rmsearch-input {
  border-radius: 4px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  padding: 7px 5px 7px 12px;
}
.header-rmsearch-input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}
.header-rmsearch-input:-moz-placeholder {

  /* Firefox 18- */
  color: #999999;
  font-weight: 400;
}
.header-rmsearch-input::-moz-placeholder {

  /* Firefox 19+ */
  color: #999999;
  font-weight: 400;
}
.header-rmsearch-input:-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
}
.input-date {
  background: #ffffff url("../img/Slices/icon-calendar.png") no-repeat scroll 92% 50%
}
.search_block_container .dropdown-toggle {
  background-color: #f2f2f2;
  width: 100%;
  border-color: #d6d4d4;
  color: #000;
  padding: 0px !important;
  height: 40px;
}
.arrow_span {
  width: 15%;
}
.check_out_time_div {
  padding-right: 0px;
}
.check_in_time_div {
  padding-left: 0px;
}
.num_adults_div {
  padding-left: 0px;
}
.num_children_div {
  padding-right: 0px;
}
#num_adults {
  background-color: #f2f2f2;
  height: 40px !important;
}
#num_children {
  background-color: #f2f2f2;
  height: 40px !important;
}
.search_block_container {
  margin-bottom: 40px;
  margin-top: 60px;
}
.outer_div {
  background-image: url("../../img/Slices/black-opacity-5.png");
  margin-top: 150px;
  padding: 15px;
}
.inner_div {
  background-color: black;
  height: auto;
  opacity: 0.9;
  padding: 10px;
}
#hotel_cat_name {
  width: 85%;
  text-align: left;
  opacity: 0.6;
}
.search-heading {
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
}
.block_heading {
  color: #ffffff;
  font-size: 37px;
  text-align: center;
  font-family: parisienne;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 38px;
}
.block_description {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 20px;
}
.search_block {
  background-color: white;
  width: 100%;
  margin-right: 20px;
  padding: 20px;
}

/*#search_room_submit
{
background-color:#BF9958;
padding-left: 30px;
padding-right: 30px;
padding-top: 15px;
padding-bottom: 15px;
color:#ffffff;
font-size:18px;
font-family: 'PT Serif', serif;
font-weight:400;
}*/
#make_booking_btn {
  background-color: #BF9958;
  width: 155px;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}
#make_booking_btn_div {
  margin-top: 20px;
  text-align: center;
}
.search_block_container label {
  color: #252525;
  font-size: 15px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}
.hotel_dropdown_ul {
  font-size: 14px;
  font-weight: 400;
  top: 45px;
  padding: 0px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  max-height: 145px;
  overflow-y: auto;
}
.location_search_results_ul {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 122222;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  max-height: 145px;
  overflow-y: auto;
}
.location_search_results_ul li, .hotel_dropdown_ul li {
  background-color: #fff;
  color: #333333;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  list-style: outside none none;
  padding: 11px;
}
.location_search_results_ul li:hover, .location_search_results_ul li:focus, .location_search_results_ul li:active, .hotel_dropdown_ul li:hover, .hotel_dropdown_ul li:focus, .hotel_dropdown_ul li:active {
  background-color: #379bf0;
  color: #FFFFFF;
}

.hotel_location_div {
  position: relative;
}
@media (max-width:992px) {
  .outer_div {
    margin-top: 5px;
  }
  .search_block {
    margin-top: 10px;
  }
}
.search_block_container label.calender-icon-cont {
  color: #FFFFFF;
}
@media (max-width:768px) {
  .search_block_container {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.fancy_search_header_xs {
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  font-size: 22px;
}

.fancy_search_header_xs hr {
    border: 1px solid #379bf0;
    float: left;
    margin-top: 5px;
    width: 125px;
}
