.nowrap
	white-space: nowrap

#customization_list
	border: 0px

.booking_occupancy
	.booking_occupancy_wrapper
		max-height: 250px
		overflow-x: auto

#booking-documents-modal
	.documents-list
		table
			tbody
				img
					max-height: 55px
					max-width: 55px

.room_status_info_form
	.room_status
		white-space: normal
