.nowrap
	white-space: nowrap

#customization_list
	border: 0px

.booking_occupancy_edit, .booking_occupancy
	.occupancy-info-separator
		margin-top: 0px
		margin-bottom: 10px
	.close_occupancy
		text-decoration: underline

.booking_occupancy
	.booking_occupancy_wrapper
		max-height: 250px
		width: 100%
		overflow-x: auto
	label.room_num_wrapper
		text-decoration: underline
		margin-bottom: 10px

#booking-documents-modal
	.documents-list table tbody img
		max-width: 55px

.toolbar_order_status_badge
	font-size: 12px
.error_text
	color: red
.room_type_old_price
	text-decoration: line-through
	color: #979797
	font-size: 12px
.wk-input-date
	cursor: text
	background-color: #F5F8F9
#room_status_info_wrapper .margin-bottom-5
	margin-bottom: 5px
#room_status_info_wrapper .room_status_date
	display: none

#order_detail_view, .order_detail_modal
	color: #333
	.table-responsive
		overflow: auto
	.label-title
		margin-bottom: 10px
		color: #555
	.text-success
		color: #00AD2A
	.text-danger
		color: #F13933
	.alert
		padding-left: 40px
	.alert-warning
		border: 1px solid #F8A527
		background: rgba(248, 165, 39, .1)
		color: #F8A527
	.alert-danger
		border: 1px solid #F13933
		background: rgba(241, 57, 51, 0.05)
		color: #F13933
	.alert-success
		border: 1px solid rgba(0, 173, 42, 1)
		color: rgba(0, 173, 42, 1)
		background: rgba(0, 173, 42, 0.05)
	.alert-warning:before, .alert-danger:before, .alert-success:before
		top: 12px
		left: 12px
		font-size: 22px
	li
		line-height: 22px
	.well
		border-color: #D9D9D9
		padding: 15px
		border-radius: 2px
		box-shadow: none
	a.order_detail_link
		color: #3862D8
		text-decoration: none
		cursor: pointer
	.nav-tabs>li.active>a
		color: #333
	.text-bold
		font-weight: bold
	.btn-add-file
		line-height: 16px
	.input-group-addon
		padding: 6px 12px
		font-weight: 900
	.help-block
		color: #333
		font-weight: 300
		font-style: italic
	.control-label
		color: #333
		margin-bottom: 4px
	input.form-control, select.form-control, div.form-control, button.form-control
		height: 36px
		border: 1px solid #D9D9D9
	input[type=checkbox]
		transform: scale(1.25)
	.order-panel, .modal-content
		padding: 16px
		border: none
		border-radius: 4px
		min-height: 220px
		.panel-heading, .modal-header
			border-bottom: solid 1px #EEE
			padding: 8px 0px 8px 0px
			margin: -15px 0px 15px 0px
			font-size: 16px
			height: auto
			text-transform: uppercase
			font-family: inherit
			color: #333
			.badge
				font-size: 14px
				padding: 2px 8px 2px 8px
			.badge a
				font-size: 14px !important
			.badge a:hover
				text-decoration: none
			.btn
				padding: 10px !important
			a
				font-size: 12px
				font-weight: 600
				color: #3862D8
				text-transform: capitalize
				text-decoration: none
			i
				font-size: 16px
		.chosen-container-single .chosen-single
			height: 36px
		.chosen-container-single .chosen-single div b
			line-height: 34px
		table
			tbody > tr > td
				padding: 12px 8px
				font-size: 12px
				border: none
				background: #FFF
				color: #333
				&.product_action
					padding: unset
					.dropdown
						position: unset
						.dropdown-menu
							top: unset
				.booking_occupancy_show.dropdown
					position: static
					.dropdown-menu
						top: unset
						left: unset
			thead > tr > th
				padding: 12px 16px 12px 16px
				background: #F5F5F5
				border: none
				font-weight: 600
				font-size: 12px
			.list-empty .list-empty-msg
				margin: 0 auto
		#status
			.history-status
				td:first-child
					border-radius: 4px 0 0 4px
				td:last-child
					border-radius: 0 4px 4px 0
			.order_status_form
				margin-top: 15px
	.panel-total table > tbody > tr > td
		padding: 8px 0px 8px 0px
	.panel-customer
		.customer_info i
			color: #999
	.panel-sm .panel-heading
		border-bottom: none
		margin: -8px 0px 1px 0px !important
		font-size: 14px !important
	.product-line-row img
		width: 70px
	.table-responsive
		width: 100%
	button.btn
		padding: 10px
		text-transform: capitalize
		font-size: 12px
	.btn-primary
		border: none
		font-weight: 600
		background: rgba(56,98,216,0.1)
		color: #3862D8
		i
			color: #3862D8
		&:hover
			background: rgba(56,98,216,0.1)
			opacity: 0.8
	.message-body
		margin-bottom: 15px
	p.message-item-text
		padding: 15px
		background-color: rgba(248, 165, 39, 0.1)
		border-radius: 4px
		line-height: 20px
		color: #333

.order_detail_modal
	.order-panel
		border: 1px solid #ddd
		&.no-min-height
			min-height: 0
	.modal-body
		padding: 0px
	.modal-header
		h4
			font-size: 16px
		button.close
			line-height: 36px
			opacity: .4
			i
				font-size: 18px
	.modal-footer
		padding: 15px 0px 0px 0px
		.btn-close
			color: #3862D8
			font-weight: 600
			padding: 10px
			border: none
		.btn-close:hover
			background: none
		.btn+.btn
			margin-left: 10px

.loading_overlay
	display: none
	position: fixed
	left: 0
	top: 0
	height: 100%
	width: 100%
	background-color: rgba(0, 0, 0, 0.5)
	z-index: 100000
	.loading-img
		position: absolute
		top: 50%
		left: 0
		right: 0
		margin: 0 auto

#customer_cart_details .overbooked_room
	background-color: #FF69B4
	color: #FFF
	padding: 2px 5px
	border-radius: 2px
	font-weight: 600

.room_status_info_form
	.room_status
		white-space: normal
