<IfModule mod_mime.c>
	RemoveHandler .php .phtml .php7 .php8
	RemoveType .php .phtml .php7 .php8
</IfModule>
<IfModule mod_php.c>
	php_flag engine off
</IfModule>
<IfModule mod_php7.c>
	php_flag engine off
</IfModule>
