<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>hotelreservationsystem</name>
	<displayName><![CDATA[Hotel Booking and Reservation System]]></displayName>
	<version><![CDATA[1.1.0]]></version>
	<description><![CDATA[Now you can be able to build your website for your hotels for their bookings and reservations by using this module.]]></description>
	<author><![CDATA[Webkul]]></author>
	<tab><![CDATA[]]></tab>
	<confirmUninstall><![CDATA[Are you sure? All module data will be lost after uninstalling the module]]></confirmUninstall>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>