.ui-tooltip.ui-tooltip-popup
    border: none
    padding: 10px
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15)
    width: auto

.ui-tooltip-trigger
    cursor: pointer
    display: inline-block
    vertical-align: middle

.ui-tooltip-content
    width: 100%

.ui-tooltip-wrapper
    width: 100%
    font-size: 14px
    font-weight: 600

.ui-tooltip-header
    margin-bottom: 5px

.ui-tooltip-body
    display: grid
    grid-template-columns: auto auto
    > div
        margin-bottom: 6px
        margin-right: 10px
    &.ui-tooltip-body-grid
        grid-template-columns: 1fr 1fr
        gap: 8px 16px

.ui-tooltip-elem-head
    font-size: 12px

.ui-tooltip-elem-txt
    font-size: 13px
    font-weight: 400
    opacity: 0.8

.ui-tooltip-label
    font-weight: 600
    margin: 0
