#features_block
{
  padding-top: 50px;
}
.hotel_feature_heading
{
  color: #252525;
  font-size: 37px;
  text-align: center;
  font-family: parisienne;
  line-height: 30px;
  margin-bottom: 30px;
}
.features_container
{
  padding-bottom: 5px;
  padding-top: 5px;
  color: #252525;
  font-size: 28px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight:400;
}
.hotel_feature_content
{
  color: #252525;
  font-size: 16px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight:400;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 30px;
}
.feature_head
{
  margin-top: 20px;
  color: #252525;
  font-size: 28px;
  text-align: center;
  font-family: parisienne;
  font-weight: 400;
  line-height: 30px;
}
.feature_content
{
  margin-top: 10px;
  line-height: 23px;
  color: #252525;
  font-size: 16px;
  text-align: center;
  font-family: 'PT Serif', serif;
}

.single_feature_container
{
  padding-bottom: 20px;
}