<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>wkhotelfilterblock</name>
	<displayName><![CDATA[layered filters and sorting block]]></displayName>
	<version><![CDATA[0.0.2]]></version>
	<description><![CDATA[Hotel filter and sorting block]]></description>
	<author><![CDATA[webkul]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>