#footer
	display: block
	width: 100%
	height: 50px
	position: fixed
	bottom: 0
	z-index: 600
	background-color: rgba(black,0.8)
	color: #aaa
	line-height: 50px
	@include animate(fadeInUp, 0.3s)
	a
		color: #ccc
	&.hide
		display: none!important
	#go-top
		display: block
		height: 30px
		width: 30px
		position: fixed
		right: 10px
		bottom: 10px
		z-index: 9003
		padding: 0px 6px
		margin: -2px 0px 0px
		text-align: center
		line-height: 30px
		text-decoration: none
		color: #fff
		cursor: pointer
		font-size: 16px
		background-color: $main-color
		@include right(10px)
		&:hover
			background-color: $brand-primary
	a.footer_link
		color: $brand-primary
		&:hover
			color: white
			text-decoration: none
		i
			font-size: $icon-size-base
			color: white
	.footer-contact
		padding: 7px 0 0 0
		line-height: 35px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		@include margin(0,0,6px,6px)
		strong
			font-weight: 400
			color: white

a.link-social
	.sprite-social
		display: inline-block
		width: 24px
		height: 24px
		vertical-align: middle
		background-image: url("../img/social-sprite.png")
		background-repeat: no-repeat
		background-size: 240px 48px
	&:hover
		text-decoration: none

.sprite-x
	background-position: 0 -24px
.sprite-google-plus
	background-position: -24px -24px
.sprite-facebook
	background-position: -72px -24px
.sprite-github
	background-position: -216px -24px

.status-page-dot
	&.operational
		color: #2ecc71 !important
	&.degraded_performance
		color: #f1c40f !important
	&.partial_outage
		color: #e67e22 !important
	&.major_outage
		color: #e74c3c !important
