<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>wkpaypaladaptive</name>
	<displayName><![CDATA[Paypal Payment Gateway]]></displayName>
	<version><![CDATA[0.0.2]]></version>
	<description><![CDATA[Customer can order online using Paypal Payment Gateway]]></description>
	<author><![CDATA[Webkul]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>