<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>wkpaypaladaptive</name>
	<displayName><![CDATA[Paypal Payment]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Manage paypal payment]]></description>
	<author><![CDATA[Webkul]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>