<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dashgoals</name>
	<displayName><![CDATA[Dashboard Goals]]></displayName>
	<version><![CDATA[0.6.6]]></version>
	<description><![CDATA[Adds a block with your store&#039;s forecast.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[dashboard]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>