.footer-container #footer .footer-explore-section .item a {
  color: #bfbfbf;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize; }
  .footer-container #footer .footer-explore-section .item a:focus {
    outline: none;
    text-decoration: none; }